.homePage {
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: center;
}

.brand {
    color: darkblue;
}

.link {
    text-decoration: none;
    color: white;
}

.aboutPage {
    display: flex;
    padding: 60px;
}

.contactPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.menu {
    padding: 0 60px 0;
}

.menuItem {
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 7px;
}

.services {
    display: flex;
    justify-content: center;

}

.sName {
    text-decoration: none;
}